<template name="_modal">
  <!-- Modal -->
  <div class="modal fade" id="{{_id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {{#if description}}
            <p>{{description}}</p>
          {{/if}}
          {{#if filename}}
            <h4 class="modal-title" id="myModalLabel">Filename: {{filename}}</h4>
          {{/if}}
        </div>
        <div class="modal-body">
          {{#if isCarouselPhoto photoType}}
            <img class="img-responsive" src="{{carouselPhoto this thumb=false}}">
          {{else}}
            <img class="img-responsive" src="{{productPhoto this thumb=false}}">
          {{/if}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</template>
