<template name="about">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <h1 id="header">ABOUT NIKKI</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <ul class="list-inline list-unstyled">
          <li>
            <img class="img-responsive" width="300" height="300"
            src="/images/about/nikki.jpg">
          </li>
          <li>
            <img class="img-responsive" width="300" height="300"
            src="/images/about/nikki2.jpg">
          </li>
          <li>
            <img class="img-responsive" width="300" height="300"
            src="/images/about/nikki3.jpg">
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-md-8">
        <p class="about">
          A native of the Czech Republic, Nikki came to the U.S. in
          the mid-nineties to pursue her college education at the
          University of Alabama in Huntsville. During that time she would
          often visit Destin and Santa Rosa Beach while on vacation often,
          returning many times to enjoy the beach and natural beauty the
          area has to offer.  Not long after completing a Bachelor's
          degree in International Business from UAH, Nikki moved to Santa
          Rosa Beach in 2001 to be close to family.
        </p>
        <p>
          Nikki has enjoyed photography as a hobby for many years.
          Having traveled extensively throughout Europe, Central
          America and the Caribbean, Nikki has taken thousands of photos
          and begun to hone her craft, specializing in photos that focus
          on the wild life and architecture that is special to each area
          she visits.
        </p>
        <p>
          For more information about Nikki's services, <strong>please
            call 850-376-0249</strong> or drop her a line using her <a
            href="/contact">Contact page</a>.
        </p>
      </div>
    </div>
  </div>
</template>
