<template name="layout">
  <div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li class="sidebar-brand"><a href="/">Home</a></li>
          <li><a href="/photos">Photos</a></li>
          <li><a href="/prints">Prints for Purchase</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
          {{#if currentUser}}
            <li><a href="/manageCarouselPhotos">Manage Carousel
              Photos</a></li>
            <li><a href="/manageProducts">Manage Products</a></li>
            <li><a href="/logout">Logout</a></li>
          {{/if}}
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                  {{> yield}}

                  <!--
                  <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                  -->
                </div>
            </div>
            {{#unless currentUser}}
              {{> socialMedia }}
            {{/unless}}
        </div>
    </div>
    <!-- /#page-content-wrapper -->
  </div>
  <!-- /#wrapper -->
</template>
