<template name="manageCarouselItems">
  <div class="row image">
    <div class="col-md-8">
      <h1 id="heading">Manage Carousel Photos</h1>
      {{> quickForm collection="CarouselItems" type="insert" id="carouselUpload"}}
      <br/>
      <h1>Carousel Photos</h1>
      <table class="table table-bordered">
        <thead>
          <th>Date of photo</th>
          <th>thumbnail</th>
          <th></th>
        </thead>
        <tbody>
          {{#each items}}
            {{> carouselRow this }}
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</template>
