<template name="manageCarouselItems">
  <div class="row image">
    <div class="col-md-8">
      <h1 id="heading">Manage Carousel Photos</h1>
      {{> quickForm collection="CarouselItems" doc=this type="insert" id="carouselUpload"}}
      <br/>
      <h1>Carousel Photos</h1>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Thumbnail</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {{#each items}}
            {{> carouselRow this }}
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</template>
