<template name="manageProducts">
  <div class="row image">
    <div class="col-md-8">
      <h1 id="heading">Manage Products</h1>
      {{> quickForm collection="Products" type="insert" id="productUpload"}}

      <br/>
      <h1>Products</h1>
      {{#if products}}
        <table class="table table-bordered">
          <thead>
            <th>filename</th>
            <th>description</th>
            <th>media</th>
            <th>tags</th>
            <th>thumbnail</th>
            <th></th>
          </thead>
          <tbody>
            {{#each products}}
              {{> productRow this }}
            {{/each}}
          </tbody>
        </table>
      {{else}}
        No products have been uploaded
      {{/if}}
    </div>
  </div>
</template>
