<template name="manageProducts">
  <div class="row image">
    <div class="col-md-8">
      <h1 id="heading">Manage Products</h1>
      {{> quickForm collection="Products" type="insert" id="productUpload"}}
      <br/>
      <h1>Products</h1>
      {{#if products}}
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Filename</th>
              <th>Thumbnail</th>
              <th>Description</th>
              <th>Postcard</th>
              <th>Bookmark</th>
              <th>Date taken</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {{#each products}}
              {{> productRow this }}
            {{/each}}
          </tbody>
        </table>
      {{else}}
        No products have been uploaded
      {{/if}}
    </div>
  </div>
</template>
