<template name="product">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <a href="#" class="grid-item" data-toggle="modal" data-target="#{{_id}}">
        <img width="300" src="{{productPhoto this thumb=false}}">
      </a>
      {{> _modal this }}
      <div class="caption text-center">
        <h2>{{description}}</h2>
        <div class="form-bg">
          <span class="simpleCart_shelfItem">
            <div class="product-info">
              <h4 class="text-muted"><span class="item_name">{{filename}}</span></h4>
              <h4 class="text-muted"><span class="item_price">{{priceFor this}}</span> each</h4>
            </div>
            <form>
              {{#if hasMediaTypesAvailableFor this}}
                {{> mediaTypesMenu this}}
              {{/if}}

              {{#if hasSizes}}
                {{this.media}}
                {{media}}
                <div class="form-group form-input-xs">
                  <label class="col-xs-offset-1 col-xs-5 control-label text-right">Size</label>
                  <div class="col-xs-6">
                    <select class="form-control input-sm item-size" data-size-trigger="{{_id}}">
                      {{#each sizes this}}
                        <option value={{this}}>{{this}}</option>
                      {{/each}}
                    </select>
                  </div>
                </div>
              {{/if}}

              {{#if hasThicknessesFor media}}
                {{> thicknessMenu}}
              {{/if}}

              {{> quantity this}}

              <a class="btn btn-success item_add" role="button">Purchase
                for {{priceFor this}}</a>
            </form>
          </span>
        </div>
      </div>
    </div>
  </div>
</template>
