<template name="socialMedia">
  <div id="footer" class="navbar navbar-fixed-bottom">
      <div class="page-header text-muted divider">
        Connect with Us
      </div>
      <ul class="list-unstyled list-inline">
        <li>
          <span>
            <a href="http://instagram.com/nikkicastlephotography"><i class="fa fa-instagram fa-5x"></i></a>
            <p class="text-center">instagram</p>
          </span>
        </li>
        <li>
          <span>
            <a href="http://facebook.com/nikkicastlephotography"><i class="fa fa-facebook fa-5x"></i></a>
            <p class="text-center">facebook</p>
          </span>
        </li>
        <li>
          <span>
            <a href="mailto:nikki@nikkicastlephotography.com"><i class="fa fa-envelope fa-5x"></i></a>
            <p class="text-center">email</p>
          </span>
        </li>
      </ul>

      <span class="navbar-text">
        <a href="#" class="pull-right">Copyright © Nikki Castle 2015</a>
      </span>
  </div>
</template>
